# Why Python

Python is an interpreted language, which can save you considerable time during program development because no compilation and linking is necessary.

Python allows you to split your program into modules that can be reused in other Python programs.

# Interactive Mode

When commands are read from a tty, the interpreter is said to be in interactive mode.

In this mode it prompts for the next command with the primary prompt, usually three greater-than signs `>>>`, for continuation lines it prompts with the secondary prompt, by default three dots `...`.

In [2]:
is_hello_world = True

if is_hello_world:
    print("Hello World")

Hello World

# Source Code Encoding

By default, Python source files are treated as encoded in UTF-8. To declare an encoding other than the default one, a special comment line should be added as the first line of the file. The syntax is as follows:

In [4]:
# -*- coding: encoding -*-

In [5]:
# -*- coding: cp1252 -*-

In [6]:
#!/usr/bin/env python3
# -*- coding: cp1252 -*-

Comments in Python start with the hash character `#`

In [7]:
# this is the first comment
one = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

# Math Operator

In [12]:
# Add
2+2

4

In [11]:
# Multiply
3*2

6

In [13]:
# Substract
3-2

1

In [14]:
# Classic Divide 
3/2

1.5

In [17]:
# floor division discards the fractional part like java
3//2

1

In [18]:
# Modulo
3%2

1

In [19]:
5 * 3 + 2

17

In [20]:
# Power
3 ** 2

9

In [21]:
2 ** 32

4294967296

In [24]:
width = 20 
height = 5 * 9

print("Area : " + str(width*height))

Area : 900

If a variable is not “defined” (assigned a value), trying to use it will give you an error:

In [25]:
x

NameError: name 'x' is not defined

In interactive mode, the last printed expression is assigned to the variable `_`

In [26]:
tax = 12.5 / 100
price = 100.5

In [27]:
price * tax

12.5625

In [28]:
_

12.5625

In [29]:
price + _

113.0625

In [30]:
round(_, 2)

113.06

# String

Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in single quotes `'...` or double quotes `"..."` with the same result.

In [1]:
'single quote text'

'single quote text'

In [2]:
"double quote text"

'double quote text'

In [3]:
"doesn't" #single quote inside double quote string

"doesn't"

In [5]:
'doesn\'t' #single quote inside single quote string

"doesn't"

In [6]:
"does\n't"

"does\n't"

In [7]:
print("does\n't")

does
't

In [8]:
print("does\\n't")

does\n't

In [9]:
print('C:\some\name')

C:\some
ame

if you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r

In [10]:
print(r'C:\some\name')

C:\some\name

String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''.

In [14]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Strings can be concatenated with the `+` operator, and repeated with `*`

In [15]:
3 * 'ab' + 'cd'

'abababcd'

In [16]:
'Py' 'thon'

'Python'

In [17]:
text = ('Put several strings within parentheses '
        'to have them joined together.')

In [18]:
"This will not work" text

SyntaxError: invalid syntax (2781571878.py, line 1)

**Note** : This only works with two literals though, not with variables or expressions

In [19]:
prefix = 'py'

print(prefix + 'thon')

python

In [20]:
word = 'Python'

In [21]:
word[0]

'P'

In [22]:
word[-1]

'n'

Python strings cannot be changed — they are **immutable**.

In [23]:
word[0] ='J'

TypeError: 'str' object does not support item assignment

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring

In [24]:
word[:2]

'Py'

In [25]:
word[-2:]

'on'

In [26]:
word[:2] + word[2:]

'Python'

In [27]:
word[:2] + word[-2:]

'Pyon'

In [28]:
'J' + word[1:]

'Jython'

In [29]:
len(word)

6

# List

Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [31]:
squares = [1, 4, 9, 16, 25]

In [32]:
squares

[1, 4, 9, 16, 25]

In [33]:
squares[0]

1

In [34]:
squares[2:]

[9, 16, 25]

In [35]:
squares[:2]

[1, 4]

In [36]:
squares[-2:]

[16, 25]

**Note:** All slice operations return a new list containing the requested elements. This means that the following slice returns a shallow copy of the list:

In [37]:
squares[:]

[1, 4, 9, 16, 25]

Lists also support operations like concatenation

In [38]:
squares + [36, 49, 64]

[1, 4, 9, 16, 25, 36, 49, 64]

Unlike strings, which are **immutable**, lists are a **mutable** type

In [39]:
cubes = [1, 8, 27, 65, 125]

In [40]:
cubes[3] = 4 ** 3

In [41]:
cubes

[1, 8, 27, 64, 125]

You can also add new items at the end of the list, by using the **append()** method

In [43]:
cubes.append(6**3)

In [44]:
cubes

[1, 8, 27, 64, 125, 216]

Assignment to slices is also possible, and this can even change the size of the list or clear it entirely.

In [45]:
letters = ['a', 'b', 'c', 'e', 'f', 'g', 'h']

In [46]:
letters

['a', 'b', 'c', 'e', 'f', 'g', 'h']

In [47]:
len(letters)

7

In [48]:
letters[2:4] = []

In [49]:
len(letters)

5

In [52]:
letters[:] = [] # clear the list

In [53]:
letters

[]

# First program

In [55]:
a,b = 0,1

while a < 1000:
    print(a, end=", ")
    a, b = b, a+b

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987,